* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* add colors light, dark, darker*/
}

html, body {
  min-height: 100%;
}

.wrapper {
  background-color: rgb(209, 202, 193);
  font-size: 18px;
  font-weight: 600;
}

main {
  min-height: calc(100vh - 300px);
}

a {
  text-decoration: none;
  color: white
}